@model lab9.Models.Recipe

@{
    ViewData["Title"] = "UpdateSpecific";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Specific Recipe</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UpdateSpecific">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input value="@Model.id" asp-for="id" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="author" class="control-label"></label>
                <input value="@Model.author" asp-for="author" class="form-control" />
                <span asp-validation-for="author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input value="@Model.name" asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label"></label>
                <input value="@Model.type" asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input value="@Model.description" asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href="/Dashboard">Back to menu</a>
</div>

